/* You can add global styles to this file, and also import other style files */
// 1. Import the initial variables
@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/sass/utilities/functions';
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: 'Libre Franklin', serif;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary:#1e8257;
$number-color:#364754;
$primary-invert: $pink-invert;
$dark: #293541;
$danger: #cb2d0e;
$family-primary: $family-serif;
$gray: #f4f5f5;
$gray-border:#bec1c5;
// 4. Setup your Custom Colors
$bofi: #0077b5;
$dark-blue:#1153b5;
$bofi-invert: findColorInvert($bofi);
$footer-background-color: $dark;
// 5. Add new color variables to the color map.
@import 'node_modules/bulma/sass/utilities/derived-variables.sass';
$addColors: ('bofi': ($bofi, $bofi-invert));
$colors: map-merge($colors, $addColors);
// 7.- Reasign Variables
$navbar-height: 6rem;
// 6. Import the rest of Bulma
@import 'node_modules/bulma/sass/utilities/_all';
@import 'node_modules/bulma/sass/base/_all';
@import 'node_modules/bulma/sass/elements/_all';
@import 'node_modules/bulma/sass/components/_all';
@import 'node_modules/bulma/sass/grid/_all';
@import 'node_modules/bulma/sass/layout/_all';
@for $i from 1 through 10 {
  $x: $i * 4;
  .mar-#{$x} {
    margin: 4px * $i;
  }
  .pad-#{$x} {
    padding: 4px * $i;
  }
  .pad-b-#{$x} {
    padding-bottom: 4px * $i !important;
  }
  .pad-t-#{$x} {
    padding-top: 4px * $i !important;
  }
}


